<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>hello</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script>
        window.onload=function(){check_bodywidth('bodybox',1110);}
    </script>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/h_javascript.js"></script>
    <script type="text/javascript" src="js/ie6.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/ad_js.js"></script>
</head>
<body>
<div id="bodybox" style="width: 1903px;">
    <div class="top_box">
        <em><a href="http://www.xinyinlong.com/"><img src="images/logo.png" border="0" /></a></em>

        <ul>
            <li><a href="index.html" class="con">首 页</a></li>
            <li><a href="aboutus.html">关于我们</a></li>
            <li><a href="product.html">产品中心</a></li>
            <li><a href="news.html">新闻动态</a></li>
            <li><a href="case.html">成功案例</a></li>
            <li><a href="service.html">技术服务</a></li>
            <li><a href="contactus.html">联系我们</a></li>
        </ul>
    </div>
    </div>
</body>
</html>